<template>
  <div class="bg-gray-400 w-60 transition-all transform duration-500 ease-in-out z-50"
    :class="{ 'relative -translate-x-0': showSidebar, 'absolute inset-y-0 left-0 -translate-x-full': !showSidebar }">
    <img class="p-3" src="@/assets/logo.png" />
    <div class="h-[0.5px] bg-gray-400 w-full"></div>
    <div v-for="(nav, index) in navigator" :key="index">
      <router-link :to="nav.path">
        <div class="font-semibold w-full rounded hover:bg-green-500 p-3"
          :class="{ 'bg-green-300': route.fullPath === nav.path }">
          {{ nav.title }}
        </div>
      </router-link>
    </div>
  </div>
</template>
<script>
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import adminNav from "../navigator/admin";

export default {
  name: "AdminSidebar",
  props: {
    showSidebar: Boolean,
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const navigator = ref(adminNav);

    return {
      route,
      router,
      navigator,
    }
  },
}
</script>