<template>
  <div class="sticky top-0 bg-green-400 w-full z-10 flex items-center">
    <BurgerButton :open="showSidebar" @click="clicked" />
    <div class="font-semibold">Peduli Muslim</div>
  </div>
</template>
<script>
import BurgerButton from "@/components/Reusable/BurgerButton.vue"
export default {
  name: "AdminHeader",
  props: {
    showSidebar: Boolean
  },
  setup(_, { emit }) {
    const clicked = () => {
      emit("update");
    };
    return {
      clicked
    };
  },
  components: { BurgerButton }
}
</script>