<template>
  <header class="sticky top-0 bg-green-400 flex flex-col md:flex-row transition-[height] h-14"
    :class="{ 'h-full': expandNavbar }">
    <div class="flex px-4 items-center justify-between md:justify-start">
      <div class="flex items-center gap-1 md:gap-0">
        <div class="font-semibold text-lg md:w-32">
          Peduli Muslim
        </div>
        <div class="md:hidden">
          / {{ route.name }}
        </div>
      </div>
      <div class="bolck md:hidden">
        <BurgerButton :open="expandNavbar" @click="expandNavbar = !expandNavbar" />
      </div>
    </div>
    <div class="flex flex-col md:flex-row w-full justify-between transition transform ease-in-out duration-500"
      :class="{ 'relative -top-6 translate-y-6': expandNavbar, 'invisible opacity-0 md:opacity-100 md:visible': !expandNavbar }">
      <div class="flex flex-col md:flex-row">
        <router-link class="font-semibold hover:bg-green-300 hover:rounded-full mx-1 my-auto px-3 py-2 md:py-1"
          :class="{ 'rounded-full bg-green-500': route.fullPath === nav.path }" v-for="(nav, index) in navigator"
          :key="index" :to="nav.path">{{ nav.title }}</router-link>
      </div>
      <div class="flex flex-col md:flex-row">
        <div class="font-semibold hover:bg-green-300 hover:rounded-full mx-1 my-auto px-3 py-2 md:py-1">
          <button v-if="!store.getters.getUser" @click="router.push('/login')" class="-mx-2 md:mx-3 my-auto flex">
            <span class="my-auto font-semibold px-2">Login</span>
            <img src="@/assets/profile-user.png" class="h-6 w-6" />
          </button>
          <div v-else class>
            <CustomDropdown>
              <template v-slot:button>
                <div class="-mx-2 md:mx-3 my-auto flex">
                  <span class="my-auto font-semibold px-2">{{ store.getters.getUser.nama }}</span>
                  <img src="@/assets/profile-user.png" class="h-6 w-6" />
                </div>
              </template>
              <CustomDropdownItem @click="dialog.profile = !dialog.profile" class="w-56">Profile</CustomDropdownItem>
              <CustomDropdownItem v-if="loginWith == 'local'" @click="dialog.username = !dialog.username">Update
                Username
              </CustomDropdownItem>
              <CustomDropdownItem v-if="loginWith == 'local'" @click="dialog.password = !dialog.password">Update
                Password
              </CustomDropdownItem>
              <CustomDropdownItem @click="logout">Logout</CustomDropdownItem>
            </CustomDropdown>
          </div>
        </div>
      </div>
    </div>
  </header>
  <CustomDialog v-model="dialog.profile" v-if="store.getters.getUser">
    <UserProfile @close="dialog.profile = false"></UserProfile>
  </CustomDialog>
  <CustomDialog v-model="dialog.username" v-if="store.getters.getLoginWith == 'local'">
    <UsernameUser @close="dialog.username = false"></UsernameUser>
  </CustomDialog>
  <CustomDialog v-model="dialog.password" v-if="store.getters.getLoginWith == 'local'">
    <PasswordUser @close="dialog.password = false"></PasswordUser>
  </CustomDialog>
</template>
<script>
import { useRoute, useRouter } from "vue-router"
import { CustomDropdownItem, CustomDropdown } from "@/components/Reusable/Dorpdown"
import CustomDialog from "@/components/Reusable/CustomDialog"
import BurgerButton from "@/components/Reusable/BurgerButton"
import { useStore } from "vuex"
import { reactive, ref } from "vue"
import UserProfile from "@/components/UserProfile"
import UsernameUser from "@/components/UsernameUser"
import PasswordUser from "@/components/PasswordUser.vue"
import authApi from "@/api/auth"
export default {
  name: "PublicHeader",
  components: {
    CustomDialog,
    CustomDropdown,
    CustomDropdownItem,
    UserProfile,
    UsernameUser,
    PasswordUser,
    BurgerButton,
  },
  props: {
    navigator: Array,
  },
  setup() {
    const router = useRouter()
    const route = useRoute()
    const store = useStore()

    const dialog = reactive({
      profile: false,
      username: false,
      password: false,
    })

    const loginWith = ref(store.getters.getLoginWith)

    const expandNavbar = ref(false)

    const logout = async () => {
      if (store.getters.getLoginWith == "local") {
        try {
          let res = await authApi.localLogout()
          if (res.status == 200) {
            await store.dispatch("logout")
            router.push("/login")
          }
        } catch (err) {
          console.log(err)
        }
      } else {
        await store.dispatch("logout")
        router.push("/login")
      }
    }

    return {
      router,
      route,
      store,
      dialog,
      loginWith,
      logout,
      expandNavbar
    }
  },
}
</script>