<template>
  <div>
    <CustomCard class="w-full">
      <div class="text-lg font-semibold">{{ article.judul }}</div>
      <div class="flex justify-between gap-3">
        <div>{{ article.kategori }}</div>
        <div class="shrink-0">{{ dateID(article.created_at) }}</div>
      </div>
      <div v-if="article.gambar.length == 1">
        <img :src="article.gambar[0].url">
      </div>
      <div v-else-if="article.gambar.length % 2 == 0" class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div  v-for="(g, index) in article.gambar" :key="index">
          <img :src="g.url">
        </div>
      </div>
      <div v-else class="grid grid-cols-1 md:grid-cols-3 gap-3">
        <div  v-for="(g, index) in article.gambar" :key="index">
          <img :src="g.url">
        </div>
      </div>
      <div v-html="article.artikel" class="line-clamp-6"></div>
    </CustomCard>
  </div>
</template>
<script>
import articleApi from "@/api/article"
import { onMounted, reactive } from "vue"
import { useRoute } from "vue-router"
import CustomCard from "@/components/Reusable/CustomCard"
import { dateID } from "@/util/datetime"

export default {
  name: "ArtikelView",
  components: { CustomCard },
  setup() {

    const route = useRoute()

    // const article = ref()
    const article = reactive({
      judul: "",
      kategori: "",
      gambar: "",
      artikel: "",
      created_at: "",
    })

    const loadArticel = async () => {
      try {
        let res = await articleApi.getOne(route.params["uuid"])
        if (res.status == 200) {
          article.judul = res.data.data.judul
          article.kategori = res.data.data.kategori
          article.gambar = res.data.data.gambar
          article.artikel = res.data.data.artikel
          article.created_at = res.data.data.created_at
        }
      } catch (err) {
        console.log(err)
      }
    }

    onMounted(() => loadArticel())

    return {
      article,
      dateID,
    }

  },
}
</script>