<template>
  <div class="">
    <CustomCard>
      <CustomDialog v-model="dialog">
        <template v-slot>
          <div>
            <div class="flex">
              <div class="hover:bg-gray-300 rounded-lg m-3">
                <ShareNetwork network="facebook" :url="url"
                  title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
                  description="This week, I’d like to introduce you to 'Vite', which means 'Fast'. It’s a brand new development setup created by Evan You.">
                  <img class="w-14 m-1" src="@/assets/facebook.png" />
                </ShareNetwork>
              </div>
              <div class="hover:bg-gray-300 rounded-lg m-3">
                <ShareNetwork network="whatsapp" :url="url"
                  title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
                  description="This week, I’d like to introduce you to 'Vite', which means 'Fast'. It’s a brand new development setup created by Evan You.">
                  <img class="w-14 m-1" src="@/assets/whatsapp.png" />
                </ShareNetwork>
              </div>
              <div class="hover:bg-gray-300 rounded-lg m-3">
                <ShareNetwork network="telegram" :url="url"
                  title="Say hi to Vite! A brand new, extremely fast development setup for Vue."
                  description="This week, I’d like to introduce you to 'Vite', which means 'Fast'. It’s a brand new development setup created by Evan You.">
                  <img class="w-14 m-1" src="@/assets/telegram.png" />
                </ShareNetwork>
              </div>
            </div>
            <div class="flex px-3">
              <button
                class="mb-3 py-2 text-green-500 font-semibold rounded-full shadow-sm w-full border-2 border-black-500 hover:bg-gray-200"
                @click="share">Sematkan</button>
            </div>
          </div>
        </template>
      </CustomDialog>
      <div class="flex">
        <div class="flex-1 flex flex-col md:flex-row-reverse md:gap-3">
          <div class="w-full md:w-72">
            <div class="my-1">{{ program.nama }}</div>
            <div class="my-1 w-full bg-gray-200 rounded-full h-1.5">
              <div class="bg-green-600 rounded-full h-1.5" :style="`width: ${program.persentase}%`"></div>
            </div>
            <div class="my-1 flex place-content-between">
              <div>
                <div>Terkumpul</div>
                <div class="text-green-600 font-bold">Rp{{ rupiah(program.dana_terkumpul) }}</div>
              </div>
              <div>
                <div class="text-right">Target</div>
                <div>Rp{{ rupiah(program.target) }}</div>
              </div>
            </div>
            <button
              class="my-1 py-2 px-4 bg-green-600 text-white font-semibold rounded-full shadow-sm w-full hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75"
              @click="toDonasi">Donasi Sekarang</button>
            <div class="flex place-content-between">
              <div>
                <div>{{ program.total_donatur }} Donatur</div>
              </div>
              <div>
                <div>{{ tersisa(program.buka_sampai) }} lagi</div>
              </div>
            </div>
            <button
              class="my-1 py-2 px-4 text-green-500 font-semibold rounded-full shadow-sm w-full border-2 border-black-500 hover:bg-gray-200"
              @click="dialog = true">Bagikan</button>
          </div>
          <div class="flex-1">
            <img class="mx-auto" :src="`${program.image}`" />
          </div>
        </div>
      </div>
      <CustomTabWrapper>
        <CustomTab title="artikel">
          <!-- <div class="text-justify">{{ program.artikel }}</div> -->
          <div v-html="program.artikel">
          </div>
        </CustomTab>
        <CustomTab title="donatur">
          <div class="flex justify-between border-b-2 last:border-b-0" v-for="(donatur, index) in donaturs" :key="index">
            <div>
              <div class="text-sm">{{ donatur.tanggal }}</div>
              <div>{{ donatur.nama }}</div>
            </div>
            <div class="inline-flex items-center">Rp{{ rupiah(donatur.nominal) }}</div>
          </div>
        </CustomTab>
      </CustomTabWrapper>
    </CustomCard>
  </div>
</template>
<script>
import programApi from "@/api/program";
import { computed, onMounted, reactive, ref } from "vue";
import { useRoute, useRouter } from "vue-router"
// import api from "@/api";
import moment from "moment";
import { toRupiah } from "@/util/currency";
// import { useStore } from "vuex";
import ShareNetwork from 'vue-social-sharing/src/share-network'
import CustomDialog from "@/components/Reusable/CustomDialog";
import CustomCard from "@/components/Reusable/CustomCard";
import { CustomTab, CustomTabWrapper } from "@/components/Reusable/Tab";
import donasiApi from '@/api/donasi';
export default {
  name: "DetailView",
  setup() {
    // const store = useStore()

    // data
    const route = useRoute()
    const router = useRouter()
    const program = reactive({
      uuid: "",
      nama: "",
      kategori: "",
      dana_terkumpul: "",
      target: "",
      persentase: "",
      total_donatur: "",
      status: "",
      buka_sampai: "",
      artikel: "",
      image: "",
      // created_at: "",
      // updated_at: "",
    })
    const donaturs = ref([])
    const dialog = ref(false)
    const tabItems = ref([
      {
        title: "Rangkuman",
      },
      {
        title: "Donatur",
      },
    ])

    // computed
    const rupiah = computed(() => {
      return toRupiah
    })
    const tersisa = computed(() => {
      return (sampai) => {
        return moment(sampai).fromNow(true);
      }
    })
    const url = computed(() => {
      return `http://192.168.88.246${router.currentRoute.value.fullPath}`
    })

    // methods
    const loadProgram = async () => {
      try {
        let res = await programApi.getbyUuid(route.params["uuid"]);
        if (res.status == 200) {
          program.nama = res.data.data.nama;
          program.kategori = res.data.data.kategori;
          program.dana_terkumpul = res.data.data.dana_terkumpul;
          program.target = res.data.data.target;
          program.persentase = res.data.data.persentase;
          program.total_donatur = res.data.data.total_donatur;
          program.status = res.data.data.status;
          program.buka_sampai = res.data.data.buka_sampai;
          program.artikel = res.data.data.artikel;
          program.image = res.data.data.image
        }
      } catch (err) {
        if ({ ...err }.response.status == 400) {
          alert("Program donasi tidak ditemukan")
          router.back()
        }
      }
    }

    const loadDonatur = async () => {
      try {
        let res = await donasiApi.getbyProgram(route.params["uuid"])
        if (res.status == 200) {
          donaturs.value = res.data.data
        }
      } catch (err) {
        console.log(err)
      }
    }

    const share = () => {
      navigator.clipboard
        .writeText(`text.com${route.fullPath}`)
        .then(() => alert("copy to clipboard"));
    }
    const toDonasi = () => {
      // let token = store.getters.getToken
      // if (token) router.push(`/donasi/${route.params["uuid"]}`)
      // else router.push("/login")
      router.push(`/donasi/${route.params["uuid"]}`)
    }

    onMounted(() => {
      loadProgram()
      loadDonatur()
    })

    return {
      program,
      donaturs,
      dialog,
      rupiah,
      tersisa,
      loadProgram,
      share,
      toDonasi,
      url,
      tabItems,
    }
  },
  components: {
    ShareNetwork,
    CustomDialog,
    CustomCard,
    CustomTab,
    CustomTabWrapper,
  },
};
</script>