<template>
  <div>
    <div class="text-2xl font-medium text-center">Transaksi</div>
    <div class="mx-auto py-3 px-5 bg-green-100 sm:w-[30rem] my-5">
      <div class="text-center">{{ program.nama }}</div>
      <CustomInput v-model="donasi.donasi" type="number" label="Nominal"
        placeholder="Ketikkan nominal atau pilih yang di bawah" :vuelidate="v$.donasi"></CustomInput>
      <CustomRadioGroup v-model="donasi.donasi" label="Pilih" :options="options" :vuelidate="v$.donasi">
      </CustomRadioGroup>
      <CustomInput v-model="donasi.nama" label="Nama" :vuelidate="v$.nama" class="mt-2"></CustomInput>
      <CustomInput v-model="donasi.no_telp" label="No Telpon" :vuelidate="v$.no_telp" class="mt-2"></CustomInput>
      <CustomInput v-model="donasi.email" label="Email" :vuelidate="v$.email" class="mt-2"></CustomInput>
      <CustomCheckbox v-model="donasi.anonim" label="Anonim" class="mt-2"></CustomCheckbox>
      <div class="mt-1">
        <button
          class="py-2 bg-green-600 text-white font-semibold rounded-full shadow-sm w-full hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75"
          @click="postDonasi">Lanjutkan</button>
      </div>
    </div>
  </div>
</template>
<script>
import programApi from "@/api/program";
import donasiApi from "@/api/donasi";
import { computed, onMounted, reactive, ref } from "vue";
import { CustomInput, CustomRadioGroup, CustomCheckbox } from "@/components/Reusable/Form"
import { useRoute, useRouter } from "vue-router"
import { email, helpers, minValue, required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";
import { useStore } from "vuex";
export default {
  name: "DonasiView",
  components: {
    CustomInput,
    CustomRadioGroup,
    CustomCheckbox,
  },
  setup() {

    // store
    const store = useStore()

    // route
    const route = useRoute()

    // router
    const router = useRouter()

    // data
    const program = reactive({
      uuid: "",
      nama: "",
      kategori: "",
      dana_terkumpul: "",
      target: "",
      persentase: "",
      total_donatur: "",
      status: "",
      buka_sampai: "",
      created_at: "",
      updated_at: "",
    })

    const test = ref("")
    const user = reactive(store.getters.getUser)

    const donasi = reactive({
      nama: user.nama,
      no_telp: user.no_telp,
      email: user.email,
      donasi: "",
      anonim: false,
    })

    const options = ref([
      {
        label: "10.000",
        value: "10000",
      },
      {
        label: "20.000",
        value: "20000",
      },
      {
        label: "50.000",
        value: "50000",
      },
    ])

    // computed
    const rules = computed(() => {
      return {
        nama:
          [
            helpers.withMessage("Nama tidak boleh kosong", required),
          ]
        ,
        no_telp: [helpers.withMessage("No Telpon tidak boleh kosong", required)],
        email: [
          helpers.withMessage("Email tidak boleh kosong", required),
          helpers.withMessage("Email tidak valid", email)
        ],
        donasi: [
          helpers.withMessage("Donasi tidak boleh kosong", required),
          helpers.withMessage("Donasi minimal Rp10.000", minValue(10000))
        ],
      }
    })

    // vuelidate
    const v$ = useVuelidate(rules, donasi)

    // method
    const loadProgram = async () => {
      try {
        let res = await programApi.getbyUuid(route.params["uuid"]);
        if (res.status == 200) {
          program.nama = res.data.data.nama;
        }
      } catch (err) {
        if ({ ...err }.response.status == 400) {
          alert("Program donasi tidak ditemukan")
          router.back()
        }
      }

    }
    const postDonasi = async () => {
      v$.value.$validate()
      if (!v$.value.$error) {
        try {
          const data = { ...donasi }
          data.donasi = parseInt(donasi.donasi)
          let res = await donasiApi.postDonasi(
            route.params["uuid"],
            data
          );
          if (res.status == 200) {
            console.log(res.data);
          }
        } catch (err) {
          if ({ ...err }.response.status == 401) {
            await store.dispatch("logout")
            router.push("/login")
          }
        }
      }
    }

    // mounted
    onMounted(() => loadProgram())

    return {
      test,
      program,
      donasi,
      options,
      rules,
      postDonasi,
      v$,
    }
  },
};
</script>