<template>
  <div>
    <div class="flex flex-col gap-3">
      <CustomCard class="w-full" v-for="(article, index) in articles" :key="index" @click="$router.push(`/article/${article.uuid}`)">
        <div class="text-lg font-semibold">{{ article.judul }}</div>
        <div class="flex justify-between gap-3">
          <div>{{ article.kategori }}</div>
          <div class="shrink-0">{{ parseDate(article.created_at) }}</div>
        </div>
        <div class="flex flex-col sm:flex-row gap-3">
          <img :src="article.gambar[0].url" class="w-full sm:w-80">
          <CustomCard class="flex-1">
            <div v-html="article.artikel" class="line-clamp-6"></div>
          </CustomCard>
        </div>
      </CustomCard>
    </div>
  </div>
</template>
<script>
import { onMounted, ref } from "vue"
import CustomCard from '@/components/Reusable/CustomCard.vue'
import articleApi from "@/api/article"
import moment from "moment"

export default {
  components: { CustomCard },
  name: "HomeView",
  setup() {
    const articles = ref([])

    const loadArticle = async () => {
      try {
        let res = await articleApi.getAll()
        if (res.status == 200) {
          articles.value = res.data.data
          console.log(articles.value)
        }
      } catch (err) {
        console.log(err)
      }
    }

    const parseDate = (date) => {
      return moment(date).format("DD-MM-YYYY")
    }

    onMounted(() => loadArticle())

    return {
      articles,
      parseDate
    }
  },
}
</script>