<template>
  <div class="box-border h-24"></div>
  <div class="flex justify-center items-center">
    <CustomCard class="w-80">
      <div class="flex flex-col items-center">
        <img src="@/assets/profile-user.png" class="h-24" />
        <div class="text-lg font-bold">Login</div>
      </div>
      <CustomInput
        label="Username"
        v-model="loginForm.username"
        :vuelidate="v$.username"
        placeholder="Your Username"
        @keypress.enter="localLogin"
        class="mt-3"
      ></CustomInput>
      <CustomInput
        label="Password"
        v-model="loginForm.password"
        :vuelidate="v$.password"
        placeholder="Your password"
        :type="showPass ? 'text' : 'password'"
        @click:button="showPass = !showPass"
        @keypress.enter="localLogin"
        class="mt-3"
      >
        <template v-slot:button>
          <img
            src="@/assets/view.png"
            class="h-5 w-5"
            :class="{ hidden: showPass, block: !showPass }"
            alt
          />
          <img
            src="@/assets/hidden.png"
            class="h-5 w-5"
            :class="{ hidden: !showPass, block: showPass }"
            alt
          />
        </template>
      </CustomInput>
      <div class="mt-5">
        <button
          class="w-full bg-green-500 py-1 rounded text-white hover:bg-green-600"
          @click="localLogin"
        >Login</button>
      </div>
      <div class="mt-5">
        <button
          class="w-full bg-green-500 py-1 rounded text-white hover:bg-green-600"
          @click="$router.push('/register')"
        >Register</button>
      </div>
      <div class="mt-5">
        <button
          class="w-full py-1 rounded bg-gray-100 hover:bg-gray-300 ring-1 flex justify-center"
          @click="googleLogin"
        >
          <img src="@/assets/google.png" class="h-6 bg-transparent" alt />
          <div>Sign in with Google</div>
        </button>
      </div>
    </CustomCard>
  </div>
</template>
<script>
import authApi from "@/api/auth";
import { computed, inject, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { CustomInput } from "@/components/Reusable/Form"
import CustomCard from "@/components/Reusable/CustomCard"
import { helpers, minLength, required } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";

export default {
  name: "LoginView",
  components: {
    CustomInput,
    CustomCard,
  },
  setup() {
    const store = useStore()
    const router = useRouter()

    // data
    const loginForm = reactive({
      username: "",
      passsword: "",
    })
    const showPass = ref(false)
    const Vue3GoogleOauth = inject("Vue3GoogleOauth");
    const gAuth = inject("gAuth")

    // computed
    const rules = computed(() => {
      return {
        username: [
          helpers.withMessage("Username tidak boleh kosong", required),
          helpers.withMessage("Username minimal 5 karakter", minLength(5)),
        ],
        password: [
          helpers.withMessage("Password tidak boleh kosong", required),
          helpers.withMessage("Password minimal 8 karakter", minLength(8)),
        ],
      }
    })

    // vuelidate
    const v$ = useVuelidate(rules, loginForm)

    // methods
    const googleLogin = async () => {
      try {
        const authCode = await gAuth.getAuthCode();
        let res = await authApi.tokengoogle({ code: authCode })
        await store.dispatch("login", res.data.data)
        await store.dispatch("setLoginWith", "google")
        router.back()
      } catch (error) {
        console.log(error);
        return null;
      }
    }
    
    const localLogin = async () => {
      v$.value.$validate()
      if (!v$.value.$error) {
        let res = await authApi.localLogin(loginForm)
        await store.dispatch("login", res.data.data)
        await store.dispatch("setLoginWith", "local")
        if (res.status == 200) {
          router.back()
        }
      }
    }

    return {
      loginForm,
      showPass,
      rules,
      googleLogin,
      localLogin,
      Vue3GoogleOauth,
      v$,
    }
  },
};
</script>