<template>
  <div class="">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
      <CustomCard v-for="(program, index) in programs" :key="index">
        <img class="mx-auto" :src="`${program.image}`" />
        <!-- <div class="my-1">{{ program.nama }}</div> -->
        <div class="my-1 flex place-content-between">
          <div>
            {{ program.nama }}
          </div>
          <div>
            {{ program.status }}
          </div>
        </div>
        <CustomProgressbar :value="program.persentase"></CustomProgressbar>
        <div class="my-1 flex place-content-between">
          <div>
            <div>Terkumpul</div>
            <div class="text-green-600 font-bold">Rp{{ rupiah(program.dana_terkumpul) }}</div>
          </div>
          <div>
            <div class="text-right">Tersisa</div>
            <div>{{ tersisa(program.buka_sampai) }} lagi</div>
          </div>
        </div>
        <button
          class="my-2 py-2 px-4 bg-green-600 text-white font-semibold rounded-full shadow-sm w-full hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75"
          @click="$router.push(`/detail/${program.uuid}`)">Donasi Sekarang</button>
      </CustomCard>
    </div>
  </div>
</template>

<script>
import programApi from "@/api/program";
import moment from "moment";
import { computed, onMounted, ref } from "vue";
import { toRupiah } from "@/util/currency";
import { useStore } from "vuex";
import CustomProgressbar from "@/components/Reusable/CustomProgressbar"
import CustomCard from "@/components/Reusable/CustomCard"
moment.locale("id");
export default {
  name: "ProgramView",
  components: {
    CustomProgressbar,
    CustomCard,
  },
  setup() {
    const store = useStore()
    // data
    const programs = ref([])

    // computed
    const rupiah = computed(() => {
      return toRupiah
    })
    const tersisa = computed(() => {
      return (sampai) => {
        return moment(sampai).fromNow(true);
      };
    })

    // methods
    const loadProgarams = async () => {
      let res = await programApi.getProgram();
      if (res.status == 200) {
        programs.value = res.data.data;
      }
    }

    onMounted(() => loadProgarams())

    return {
      store,
      programs,
      rupiah,
      tersisa,
      loadProgarams,
    }
  },
  // mounted() {
  //   this.loadProgarams();
  // },
};
</script>
