<template>
  <div class="flex justify-center py-3 2xl:py-24">
    <CustomCard class="w-80">
      <div class="flex flex-col items-center">
        <img src="@/assets/profile-user.png" class="h-24" />
        <div class="text-lg font-bold">Login</div>
      </div>
      <CustomInput
        label="Nama"
        v-model="registerForm.form.nama"
        :vuelidate="v$.form.nama"
        placeholder="Your Name"
        class="mt-3"
      ></CustomInput>
      <CustomInput
        label="Username"
        v-model="registerForm.form.username"
        :vuelidate="v$.form.username"
        placeholder="Your Username"
        class="mt-3"
      ></CustomInput>
      <CustomInput
        label="Password"
        v-model="registerForm.form.password"
        placeholder="Your Password"
        :vuelidate="v$.form.password"
        :type="showPass ? 'text' : 'password'"
        @click:button="showPass = !showPass"
        class="mt-3"
      >
        <template v-slot:button>
          <img
            src="@/assets/view.png"
            class="h-5 w-5"
            :class="{ hidden: showPass, block: !showPass }"
            alt
          />
          <img
            src="@/assets/hidden.png"
            class="h-5 w-5"
            :class="{ hidden: !showPass, block: showPass }"
            alt
          />
        </template>
        >
      </CustomInput>
      <CustomInput
        label="Confirm Password"
        v-model="registerForm.confirmPass"
        :vuelidate="v$.confirmPass"
        placeholder="Confirm your Password"
        class="mt-3"
      ></CustomInput>
      <CustomInput
        label="Email"
        v-model="registerForm.form.email"
        :vuelidate="v$.form.email"
        placeholder="Your Email"
        class="mt-3"
      ></CustomInput>
      <div class="mt-3">
        <button
          class="w-full bg-green-500 py-1 rounded text-white hover:bg-green-600"
          @click="register"
        >Register</button>
      </div>
    </CustomCard>
  </div>
</template>
<script>
import authApi from "@/api/auth";
import { computed, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import { CustomInput } from "@/components/Reusable/Form"
import CustomCard from "@/components/Reusable/CustomCard"
import { email, helpers, minLength, required, sameAs } from "@vuelidate/validators";
import useVuelidate from "@vuelidate/core";

export default {
  name: "LoginView",
  components: {
    CustomInput,
    CustomCard,
  },
  setup() {
    console.log("HAI")
    const store = useStore()
    const router = useRouter()

    // data
    const registerForm = reactive({
      form: {
        nama: "",
        username: "",
        password: "",
        email: "",
      },
      confirmPass: "",
    })

    // const confirmPass = ref("")
    const showPass = ref(false)

    // computed
    const rules = computed(() => {
      return {
        form: {
          nama: [
            helpers.withMessage("Nama tidak boleh kosong", required),
          ],
          password: [
            helpers.withMessage("Password tidak boleh kosong", required),
            helpers.withMessage("Password minimal 8 karakter", minLength(8)),
          ],
          username: [
            helpers.withMessage("Username tidak boleh kosong", required),
            helpers.withMessage("Username minimal 5 karakter", minLength(5)),
          ],
          email: [
            helpers.withMessage("Email tidak boleh kosong", required),
            helpers.withMessage("Email tidak valid", email)
          ],
        },
        confirmPass: [
          helpers.withMessage("Konfirmasi Password", sameAs(registerForm.form.password))
        ],
      }
    })

    // vuelidate
    const v$ = useVuelidate(rules, registerForm)

    // methods
    const register = async () => {
      v$.value.$validate()
      if (!v$.value.$error) {
        let res = await authApi.register(registerForm.form)
        if (res.status == 200) {
          await store.dispatch("setAccessToken", res.data.data.access_token)
          await store.dispatch("setRefreshToken", res.data.data.refresh_token)
          await store.dispatch("authenticate", res.data.data.user)
          router.go(-2)
        }
      }
    }

    return {
      registerForm,
      // confirmPass,
      showPass,
      register,
      v$,
    }
  },
};
</script>