<template>
  <div class="relative flex  min-h-screen">
    <!-- Sidebar -->
    <AdminSidebar :showSidebar="drawerLeft"></AdminSidebar>
    <!-- Content -->
    <div class="h-screen overflow-auto absolute lg:relative transition duration-500 ease-in-out"
      :class="{ 'lg:translate-x-60 lg:-ml-60 w-screen lg:w-[calc(100vw_-_theme(spacing.60))]': drawerLeft, 'w-screen': !drawerLeft }">
      <AdminHeader :showSidebar="drawerLeft" @update="drawerLeft = !drawerLeft"></AdminHeader>
      <main class="p-3 bg-gray-300 mx-auto min-h-[calc(100vh_-_theme(spacing.12)_-_theme(spacing.12))]"
        :class="{ '': drawerLeft, '': !drawerLeft }">
        <router-view />
      </main>
      <Footer></Footer>
    </div>
    <div class="fixed inset-0 opacity-30 bg-black  transition-all duration-300 z-40 lg:hidden"
      :class="{ 'hidden': !drawerLeft }" @click="drawerLeft = !drawerLeft">
    </div>
  </div>
</template>
<script>
import { ref, watch } from "vue";
import Footer from "../footer/Footer"
import AdminSidebar from "../header/AdminSidebar.vue";
import AdminHeader from "../header/AdminHeader";
export default {
  name: "AdminLayout",
  components: {
    Footer,
    AdminSidebar,
    AdminHeader
  },
  setup() {
    const drawerLeft = ref(false);
    const afterTrans = ref(false);

    watch(drawerLeft, (val) => {
      if (val) setTimeout(() => {
        afterTrans.value = val
      }, 500)
      else afterTrans.value = val
    })

    const upd = () => {
      console.log("update")
      console.log(drawerLeft.value)
      drawerLeft.value = !drawerLeft.value
      console.log(drawerLeft.value)
    }

    return {
      drawerLeft,
      afterTrans,
      upd,
    }

  },
}
</script>