<template>
  <div>
    <PublicHeader :navigator="nav"></PublicHeader>
    <main class="lg:container p-3 mx-auto custom-min-height">
      <div>
        <router-view />
      </div>
    </main>
    <Footer></Footer>
  </div>
</template>
<script>import { ref } from "vue"
import publicNav from "../navigator/public"
import PublicHeader from "../header/PublicHeader"
import Footer from "../footer/Footer"

export default {
  name: "PublicLayout",
  components: {
    PublicHeader,
    Footer,
  },
  setup() {
    const nav = ref(publicNav)

    return {
      nav
    }
  },
}
</script>
<style scoped>
.custom-min-height {
  min-height: calc(100vh - 56px - 48px);
}
</style>
