<template>
  <div class="w-full h-[100vh] flex items-center">
    <div class="mx-auto flex flex-col items-center">
      <div class="text-7xl">404</div>
      <div class="text-xl">Halaman tidak ditemukan</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "NotFound",
  setup() {

  },
}
</script>