<template>
  <div
    class="fixed top-0 right-0 m-8 p-3 text-xs font-mono text-white h-6 w-6 rounded-full flex items-center justify-center bg-gray-700 sm:bg-pink-500 md:bg-orange-500 lg:bg-green-500 xl:bg-blue-500">
    <div class="block  sm:hidden md:hidden lg:hidden xl:hidden">al</div>
    <div class="hidden sm:block  md:hidden lg:hidden xl:hidden">sm</div>
    <div class="hidden sm:hidden md:block  lg:hidden xl:hidden">md</div>
    <div class="hidden sm:hidden md:hidden lg:block  xl:hidden">lg</div>
    <div class="hidden sm:hidden md:hidden lg:hidden xl:block">xl</div>
  </div>
  <!-- /Active Breakpoint Indicator -->

  <div class="fixed top-0 right-0 mt-6 mr-24 text-red-500 text-xs w-48">This is responsive breakpoint name. Try
    changing your browser window width.</div>
  <div class="fixed top-0 right-0 mt-6 mr-16 text-red-500 text-xl font-bold">→</div>


  <div class="flex flex-col justify-center items-center h-screen w-screen">
    <h1 class="text-4xl font-light text-center leading-tight mb-4">Tailwind CSS<br>Active Breakpoint Indicator</h1>
    <p>by <a href="https://twitter.com/suin" class="text-blue-500">@suin</a></p>
  </div>
</template>
<script>
export default {
  name: "TestView",
  setup() {
    
  },
}
</script>