<template>
  <div>
    <button class="w-12 h-12 relative focus:outline-none">
      <div class="block w-5 absolute left-6 top-1/2 transform transition duration-500 -translate-x-1/2 -translate-y-1/2"
        :class="{ 'rotate-90': open }">
        <span
          class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out rounded"
          :class="{ 'rotate-45': open, ' -translate-y-1.5': !open }"></span>
        <span
          class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out rounded"
          :class="{ 'opacity-0': open }"></span>
        <span
          class="block absolute h-0.5 w-5 text-white bg-current transform transition duration-500 ease-in-out rounded"
          :class="{ '-rotate-45': open, ' translate-y-1.5': !open }"></span>
      </div>
    </button>
  </div>
</template>
<script>
export default {
  name: "BurgerButton",
  props: {
    open: Boolean,
  },
  setup() {

  },
}
</script>