<template>
  <div
    class="fixed overflow-x-hidden overflow-y-hidden h-screen inset-0 flex justify-center items-center  transition-all duration-300 z-50"
    :class="{ 'hidden': !showDialog, 'scale-0': !scale }" @click.self="dialogController(false)">
    <div class="relative mx-auto w-auto">
      <div class="bg-white w-full rounded shadow-2xl">
        <slot></slot>
      </div>
    </div>
  </div>
  <div class="fixed inset-0 opacity-30 bg-black  transition-all duration-300 z-40" :class="{ 'hidden': !showDialog}"></div>
</template>
<script>
import { watch, ref } from 'vue'
export default {
  name: "CustomDialog",
  props: {
    modelValue: Boolean,
  },
  // emits: ["update:modelValue"],
  setup(props, {emit}) {
    const showDialog = ref(props.modelValue)
    const scale = ref(props.modelValue)

    watch(() => props.modelValue, (val) => {
      dialogController(val)
    })

    const dialogController = (val) => {
      emit("update:modelValue", val)
      setTimeout(() => {
        showDialog.value = val
      }, val ? 0 : 100)
      setTimeout(() => {
        scale.value = val
      }, val ? 100 : 0)

    }

    return {
      showDialog,
      scale,
      dialogController
    }
  },
}
</script>