<template>
  <div :class="`my-1 w-full ${bgColor} ${rounded ? 'rounded-full' : ''} ${height}`">
    <div :class="`${color} ${rounded ? 'rounded-full' : ''} ${height}`" :style="`width: ${value}%`"></div>
  </div>
</template>
<script>
export default {
  name: "CustomProgressbar",
  props: {
    value: {
      type: Number,
      default: 0.00,
    },
    color: {
      type: String,
      default: "bg-green-600",
    },
    bgColor: {
      type: String,
      default: "bg-gray-200",
    },
    rounded: {
      type: Boolean,
      default: true,
    },
    height: {
      type: String,
      default: "h-1.5",
    },
  },
  setup() {},
}
</script>