<template>
  <div class="w-full flex items-center justify-center">
    <CustomCard>
      <div class="w-80 h-[180px] md:w-96 md:h-[216px]">
        <img ref="image" :src="src" @change="$emit('change', $event)">
      </div>
    </CustomCard>

  </div>

</template>
<script>
import { onMounted, ref, watch } from "vue"
import Cropper from "cropperjs"
import 'cropperjs/dist/cropper.css';
import CustomCard from "./CustomCard.vue";

export default {
  name: "ImageCropper",
  props: {
    src: String
  },
  setup(props) {
    const image = ref(null);
    let cropper = null;
    onMounted(() => {
      cropper = new Cropper(image.value, {
        aspectRatio: 16 / 9,
        background: false,
        dragMode: "move",
        viewMode: 1,
        cropBoxMovable: false,
        cropBoxResizable: false,
        autoCropArea: 1,
      });
    });
    watch(() => props.src, (val) => {
      if (val)
        cropper.replace(val);
    });
    const getCrop = () => {
      let canvas = cropper.getCroppedCanvas();
      return canvas;
    }
    return {
      image,
      getCrop,
    };
  },
  components: { CustomCard }
}
</script>