<template>
  <div>
    <div class="flex flex-wrap text-center text-gray-500 border-b border-gray-200">
      <button v-for="(title, index) in tabTitles" :key="index"
        class="mr-2 inline-block px-4 py-1 text-blue-600 bg-gray-100 rounded-t-md"
        :class="{ 'bg-gray-200 border-b-2 border-gray-300': current == title }" @click="current = title">{{
          title
        }}</button>
    </div>
    <slot></slot>
  </div>
</template>
<script>
import { provide, ref } from "vue"

export default {
  name: "CustomTabWrapper",
  setup(_, { slots }) {
    const tabTitles = ref(slots.default().map((tab) => tab.props.title))
    const current = ref(tabTitles.value[0])

    provide("current", current)

    return {
      tabTitles,
      current
    }
  },
}
</script>