<template>
  <div class="p-3" v-show="current == title">
    <slot></slot>
  </div>
</template>
<script>import { inject } from "vue"

export default {
  name: "CustomTab",
  props: {
    title: String
  },
  setup() {
    // data
    const current = inject("current")


    return {
      current,
    }
  },
}
</script>