<template>
  <CustomCard class="w-80">
    <CustomInput v-model="passwordForm.old_password" label="Password Lama" :type="showPass.old ? 'text' : 'password'"
      @click:button="showPass.old = !showPass.old" :vuelidate="v$password.passwordForm.old_password">
      <template v-slot:button>
        <img src="@/assets/view.png" class="h-5 w-5" :class="{ hidden: showPass.old, block: !showPass.old }" alt />
        <img src="@/assets/hidden.png" class="h-5 w-5" :class="{ hidden: !showPass.old, block: showPass.old }" alt />
      </template>
    </CustomInput>
    <CustomInput class="mt-1" v-model="passwordForm.new_password" label="Password Baru"
      :type="showPass.new ? 'text' : 'password'" @click:button="showPass.new = !showPass.new"
      :vuelidate="v$password.passwordForm.new_password">
      <template v-slot:button>
        <img src="@/assets/view.png" class="h-5 w-5" :class="{ hidden: showPass.new, block: !showPass.new }" alt />
        <img src="@/assets/hidden.png" class="h-5 w-5" :class="{ hidden: !showPass.new, block: showPass.new }" alt />
      </template>
    </CustomInput>
    <CustomInput type="password" class="mt-1" v-model="confirmPass" label="Konfirmasi Password Baru"
      :vuelidate="v$password.confirmPass"></CustomInput>
    <div class="mt-3 flex justify-end gap-3">
      <button class="bg-yellow-300 px-2 py-1 rounded" @click="$emit('close', null)">Batal</button>
      <button class="bg-green-500 px-2 py-1 rounded" @click="updatePassword">Simpan</button>
    </div>
  </CustomCard>
</template>
<script>
import authApi from "@/api/auth";
import CustomCard from "@/components/Reusable/CustomCard.vue";
import CustomInput from "@/components/Reusable/Form/CustomInput.vue";
import useVuelidate from "@vuelidate/core";
import { helpers, minLength, required, sameAs } from "@vuelidate/validators";
import { computed, reactive, ref } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
export default {
  name: "PasswordUser",
  setup(_, { emit }) {
    const store = useStore()
    const router = useRouter()

    const showPass = reactive({
      old: false,
      new: false,
    })

    const passwordForm = reactive({
      old_password: "",
      new_password: "",
    })
    const confirmPass = ref("")

    const passwordRules = computed(() => {
      return {
        passwordForm: {
          old_password: [
            helpers.withMessage("Password Lama tidak boleh kosong", required),
            helpers.withMessage("Password minimal 8 karakter", minLength(8)),
          ],
          new_password: [
            helpers.withMessage("Password Baru tidak boleh kosong", required),
            helpers.withMessage("Password minimal 8 karakter", minLength(8)),
            helpers.withMessage("Password Baru tidak boleh sama dengan password Lama", (val) => val != passwordForm.new_password)
          ],
        },
        confirmPass: [
          helpers.withMessage("Konfirmasi Password baru anda", sameAs(passwordForm.new_password))
        ]
      }
    })

    const v$password = useVuelidate(passwordRules, { passwordForm, confirmPass })

    const updatePassword = async () => {
      v$password.value.$validate()
      if (!v$password.value.$error) {
        try {
          let res = await authApi.updatePassword(passwordForm)
          if (res.status == 200) {
            emit("close", null)
          }
        } catch (err) {
          if ({ ...err }.response.status == 401) {
            await store.dispatch("logout")
            router.push("/login")
          }
        }
      }
    }

    return {
      passwordForm,
      confirmPass,
      passwordRules,
      v$password,
      updatePassword,
      showPass,
    }
  },
  components: { CustomCard, CustomInput }
}
</script>