<template>
  <CustomCard class="w-80">
    <CustomInput v-model="userForm.nama" label="Nama" :vuelidate="v$user.nama"></CustomInput>
    <CustomInput class="mt-1" v-model="userForm.no_telp" label="Nomor Telpon" :vuelidate="v$user.no_telp">
    </CustomInput>
    <CustomInput class="mt-1" v-model="userForm.email" label="Email" :vuelidate="v$user.email"></CustomInput>
    <div class="mt-3 flex justify-end gap-3">
      <button class="bg-yellow-300 px-2 py-1 rounded" @click="$emit('close', null)">Batal</button>
      <button class="bg-green-500 px-2 py-1 rounded" @click="updateUser">Simpan</button>
    </div>
  </CustomCard>
</template>
<script>import userApi from "@/api/user"
import useVuelidate from "@vuelidate/core"
import { email, helpers, required } from "@vuelidate/validators"
import { computed, reactive } from "vue"
import { useRouter } from "vue-router"
import { useStore } from "vuex"
import CustomInput from "@/components/Reusable/Form/CustomInput"
import CustomCard from "@/components/Reusable/CustomCard"

export default {
  name: "UserProfile",
  setup(_, { emit }) {
    const store = useStore();
    const router = useRouter();
    const user = store.getters.getUser;
    const userForm = reactive({
      nama: user.nama,
      no_telp: user.no_telp,
      email: user.email
    });
    const userRules = computed(() => {
      return {
        nama: [helpers.withMessage("Nama tidak boleh kosong", required)],
        no_telp: [helpers.withMessage("No Telpon tidak boleh kosong", required)],
        email: [
          helpers.withMessage("Email tidak boleh kosong", required),
          helpers.withMessage("Email tidak valid", email)
        ],
      };
    });
    const v$user = useVuelidate(userRules, userForm);
    const updateUser = async () => {
      v$user.value.$validate();
      if (!v$user.value.$error) {
        try {
          let res = await userApi.updateUser(userForm);
          if (res.status == 200) {
            await store.dispatch("setUser", res.data.data)
            user.value = res.data.data
            emit("close", null);
          }
        }
        catch (err) {
          if ({ ...err }.response.status == 401) {
            await store.dispatch("logout")
            router.push("/login")
          }
        }
      }
    };
    return {
      userForm,
      userRules,
      v$user,
      updateUser,
    };
  },
  components: { CustomInput, CustomCard }
}
</script>