<template>
  <CustomCard class="w-80">
    <CustomInput v-model="usernameForm.username" label="Username" :vuelidate="v$username.username"></CustomInput>
    <div class="mt-3 flex justify-end gap-3">
      <button class="bg-yellow-300 px-2 py-1 rounded" @click="$emit('close', null)">Batal</button>
      <button class="bg-green-500 px-2 py-1 rounded" @click="updateUsername">Simpan</button>
    </div>
  </CustomCard>
</template>
<script>import authApi from "@/api/auth"
import useVuelidate from "@vuelidate/core"
import { helpers, minLength, required } from "@vuelidate/validators"
import { computed, onMounted, reactive } from "vue"
import { useRouter } from "vue-router"
import CustomInput from "@/components/Reusable/Form/CustomInput"
import CustomCard from "@/components/Reusable/CustomCard"
import { useStore } from "vuex"

export default {
  name: "UsernameUser",
  props: {},
  setup(_, { emit }) {
    const store = useStore()
    const router = useRouter();
    const usernameForm = reactive({
      username: ""
    });
    const usernameRules = computed(() => {
      return {
        username: [
          helpers.withMessage("Username tidak boleh kosong", required),
          helpers.withMessage("Username minimal 5 karakter", minLength(5)),
        ]
      };
    });
    const v$username = useVuelidate(usernameRules, usernameForm);
    const loadUsername = async () => {
      try {
        let res = await authApi.getLocalAuth();
        if (res.status == 200) {
          usernameForm.username = res.data.data.username;
        }
      }
      catch (err) {
        if ({ ...err }.response.status == 401)
          console.log("logout")
          // await store.dispatch("logout")
      }
    };
    const updateUsername = async () => {
      v$username.value.$validate();
      if (!v$username.value.$error) {
        try {
          let res = await authApi.updateUsername(usernameForm);
          if (res.status == 200) {
            emit("close", null);
          }
        }
        catch (err) {
          if ({ ...err }.response.status == 401) {
            await store.dispatch("logout")
            router.push("/login")
          }
        }
      }
    };
    onMounted(() => loadUsername());
    return {
      usernameForm,
      v$username,
      updateUsername,
    };
  },
  components: { CustomInput, CustomCard }
}
</script>