<template>
  <CustomCard>
    <div class="text-xl font-bold">Tambah Admin</div>
    <CustomInput v-model="form.email" label="Email" :vuelidate="v$.email" class="mt-3"></CustomInput>
    <CustomCheckbox v-model="form.super" label="Super Admin" class="mt-3"></CustomCheckbox>
    <div class="relative h-14 mt-3">
      <button class="absolute top-6 right-0 bg-green-400 rounded-md px-3 py-1 min-w-[79px]" @click="addAdmin">
        <div class="" :class="{ 'hidden': loading }">Simpan</div>
        <img class="animate-spin h-6 inline-flex justify-center" :class="{ 'hidden': !loading }"
          src="@/assets/loading.png">
      </button>
    </div>
  </CustomCard>
</template>
<script>
import CustomCard from '@/components/Reusable/CustomCard.vue'
import { CustomInput, CustomCheckbox } from '@/components/Reusable/Form'
import useVuelidate from '@vuelidate/core'
import { email, helpers, required } from '@vuelidate/validators'
import { computed, reactive, ref } from 'vue'
import admin from '@/api/admin'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
export default {
  components: { CustomCard, CustomInput, CustomCheckbox },
  name: "AddAdmin",
  setup() {
    const router = useRouter()
    const store = useStore()

    const loading = ref(false)


    const form = reactive({
      email: "",
      super: false,
    })

    const rules = computed(() => {
      return {
        email: [
          helpers.withMessage("Judul tidak boleh kosong", required),
          helpers.withMessage("Email tidak valid", email),
        ],
      }
    })

    const v$ = useVuelidate(rules, form)

    const addAdmin = async () => {
      v$.value.$validate()
      if (!v$.value.$error) {
        loading.value = true
        try {
          let res = await admin.addAdmin(form)
          if (res.status == 200) {
            form.email = ""
            form.super = false
            v$.value.$reset()
          }
        } catch (err) {
          const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
        } finally {
          loading.value = false
        }

      }
    }

    return {
      form,
      rules,
      v$,
      loading,
      addAdmin,
    }

  },
}
</script>