<template>
  <CustomCard>
    <div class="text-xl font-bold">Tambah Artikel</div>
    <!-- <CustomMultipleCheckbox v-model="testM" label="Kategories"
      :options="[{ label: 'A', value: 'A' }, { label: 'B', value: 'B' }, { label: 'C', value: 'C' }]">
    </CustomMultipleCheckbox> -->
    <CustomInput v-model="form.judul" label="Judul" :vuelidate="v$.judul" class="mt-3"></CustomInput>
    <CustomMultipleCheckbox v-model="form.kategori" label="Kategori" :vuelidate="v$.kategori" class="mt-3"
      :options="kategoriItems">
    </CustomMultipleCheckbox>
    <CustomImgPicker v-model="test" label="Gambar" class="mt-3" multiple></CustomImgPicker>
    <!-- <CustomSelect v-model="form.kategori" label="Kategori" :items="kategoriItems" :vuelidate="v$.kategori" class="mt-3">
    </CustomSelect> -->
    <CustomEditor v-model="form.artikel" imgModel label="Artikel" :vuelidate="v$.artikel" class="mt-3"></CustomEditor>
    <div class="relative h-14 mt-3">
      <button class="absolute top-6 right-0 bg-green-400 rounded-md px-3 py-1 min-w-[79px]" @click="addArticle">
        <div class="" :class="{ 'hidden': loading }">Simpan</div>
        <img class="animate-spin h-6 inline-flex justify-center" :class="{ 'hidden': !loading }"
          src="@/assets/loading.png">
      </button>
    </div>
  </CustomCard>
</template>
<script>
import { CustomInput, CustomEditor, CustomMultipleCheckbox } from "@/components/Reusable/Form"
import CustomCard from "@/components/Reusable/CustomCard"
import { useRouter } from "vue-router"
import { useStore } from "vuex"
import { computed, reactive, ref } from "vue"
import { helpers, required } from "@vuelidate/validators"
import useVuelidate from "@vuelidate/core"
import articleApi from "@/api/article"
import CustomImgPicker from "@/components/Reusable/Form/CustomImgPicker.vue"
export default {
  name: "AddArticle",
  components: {
    CustomInput,
    // CustomSelect,
    CustomCard,
    CustomEditor,
    CustomImgPicker,
    CustomMultipleCheckbox
  },
  setup() {
    const router = useRouter()
    const store = useStore()

    // data
    const loading = ref(false)
    const form = reactive({
      judul: "",
      kategori: [],
      gambar: [],
      artikel: "",
    })

    const test = ref([])
    const testM = ref([])

    const rules = computed(() => {
      return {
        judul: [
          helpers.withMessage("Judul tidak boleh kosong", required),
        ],
        kategori: [
          helpers.withMessage("Pilih minimal 1 kategori", (val) => val.length > 0),
        ],
        artikel: [helpers.withMessage("Artikel tidak boleh kosong", (a) => {
          console.log(a)
          console.log(a.replace(/<.*?>/g, "").trim())
          return a.replace(/<.*?>/g, "").trim().length > 0
          // let r = a.replace(/<p>/g, "")
          // r = r.replace(/<\/p>/g, "")
          // r = r.trim()
          // return r
        })],
      }
    })
    const kategoriItems = ref([
      { label: "Pendidikan", value: "Pendidikan" },
      { label: "Sosial", value: "Sosial" },
      { label: "Laporan", value: "Laporan" },
      { label: "Palestina", value: "Palestina" },
      { label: "Ifthar", value: "Ifthar" },
    ])

    const v$ = useVuelidate(rules, form)

    // methods
    const addArticle = async () => {
      // try {
      v$.value.$validate()
      if (!v$.value.$error) {
        loading.value = true
        try {
          let files = new FormData()
          test.value.forEach((file) => {
            // files.append(file.name, file)
            files.append("files", file)
          })
          // files.append("files", test.value)
          let res1 = await articleApi.addImages(files, (progress) => {
            console.log((progress.loaded / progress.total) * 100)
          })
          if (res1.status == 200) {
          let data = { ...form }
            data.kategori = data.kategori.join(",")
            data.gambar = res1.data.data
            let res = await articleApi.postArticle(data)
            if (res.status == 200) {
              router.push("/admin/artikel")
            }
          }
        } catch (err) {
          const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
        } finally {
          loading.value = false
        }
      }
    }

    return {
      addArticle,
      form,
      kategoriItems,
      v$,
      loading,
      test,
      testM,
    }
  },
}
</script>