<template>
  <div class="flex flex-col gap-3">
    <CustomCard class="w-full" v-for="(article, index) in articles" :key="index"
      @click="$router.push(`/admin/update-artikel/${article.uuid}`)">
      <div class="text-lg font-semibold">{{ article.judul }}</div>
      <div class="flex gap-5">
        <div class="flex-1">{{ article.kategori }}</div>
        <div>{{ dateID(article.created_at) }}</div>
      </div>
      <div class="flex flex-col sm:flex-row gap-3">
        <img :src="article.gambar[0].url" class="w-full sm:w-80">
        <CustomCard class="flex-1">
          <div v-html="article.artikel" class="line-clamp-6"></div>
        </CustomCard>
      </div>
    </CustomCard>
  </div>
</template>
<script>
import { onMounted, ref } from "vue"
import CustomCard from '@/components/Reusable/CustomCard.vue'
import articleApi from "@/api/article"
import { dateID } from "@/util/datetime"
import { useStore } from "vuex"
import { useRouter } from "vue-router"

export default {
  components: { CustomCard },
  name: "ArticleView",
  setup() {

    const store = useStore()
    const router = useRouter()
    
    const articles = ref([])

    const loadArticle = async () => {
      try {
        let res = await articleApi.getAll()
        if (res.status == 200) {
          articles.value = res.data.data
        }
      } catch (err) {
        const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
      }
    }

    // const dateID = (date) => {
    //   return moment(date).format("DD-MM-YYYY")
    // }

    onMounted(() => loadArticle())

    return {
      articles,
      dateID,
    }
  },
}
</script>