<template>
  <CustomCard>
    <div class="text-lg font-semibold">Daftar Admin</div>
    <table class="table-auto rounded shadow w-full mt-3">
      <thead>
        <tr class="bg-gray-200 text-left">
          <th class="px-3 py-2 rounded-tl">Username</th>
          <th class="px-3 py-2">Email</th>
          <th class="px-3 py-2">Superadmin</th>
          <th class="px-3 py-2 rounded-tr">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(admin, index) in admins" :key="index" class="border-t-[1px]">
          <td class="px-3 py-2">{{ admin.username }}</td>
          <td class="px-3 py-2">{{ admin.email }}</td>
          <td class="px-3 py-2">{{ admin.super }}</td>
          <td class="px-3 py-2 flex gap-2">
            <button class="rounded-full bg-green-400 p-1">
              <img class="h-5 w-5" src="@/assets/rotation-lock.png">
            </button>
            <button class="rounded-full bg-green-400 p-1">
              <img class="h-5 w-5" src="@/assets/delete.png">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </CustomCard>
</template>
<script>
import admin from '@/api/admin'
import CustomCard from '@/components/Reusable/CustomCard.vue'
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
export default {
  components: { CustomCard },
  name: "DaftarAdmin",
  setup() {

    const store = useStore()
    const router = useRouter()

    const admins = ref([])

    const loadData = async () => {
      try {
        let res = await admin.getAll()
        if (res.status == 200) {
          admins.value = res.data.data
          console.log(admins.value)
        }
      } catch (err) {
        const e = { ...err }
        if (Object.keys(e).length == 0) {
          console.log(err)
        }
        else if (e.response.status == 401) {
          await store.dispatch("logout")
          router.push("/admin/login")
        }
      }
    }

    onMounted(() => loadData())

    return {
      admins,
    }
  },
}
</script>