<template>
  <div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
      <CustomCard v-for="(program, index) in programs" :key="index">
        <!-- <img class="mx-auto" src="../../assets/logo.png" /> -->
        <img class="mx-auto" :src="`${program.image}`" />
        <!-- <div class="my-1">{{ program.nama }}</div> -->
        <div class="my-1 flex place-content-between">
          <div>
            {{ program.nama }}
          </div>
          <div>
            {{ program.status }}
          </div>
        </div>
        <custom-progressbar :value="program.persentase"></custom-progressbar>
        <div class="my-1 flex place-content-between">
          <div>
            <div>Terkumpul</div>
            <div class="text-green-600 font-bold">Rp{{ rupiah(program.dana_terkumpul) }}</div>
          </div>
          <div>
            <div class="text-right">Tersisa</div>
            <div>{{ tersisa(program.buka_sampai) }} lagi</div>
          </div>
        </div>
        <div class="flex">
          <button
            class="my-2 py-2 px-4 bg-green-600 text-white font-semibold rounded-l-full shadow-sm w-1/2 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75"
            @click="$router.push(`/admin/update-program/${program.uuid}`)">Update</button>
          <button :disabled="program.status == 'Completed'"
            class="my-2 py-2 px-4 bg-green-600 text-white font-semibold rounded-r-full shadow-sm w-1/2 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-700 focus:ring-opacity-75"
            @click="toggleStatus(program.uuid)">{{
                program.status == 'Active' ? "Tutup" : "Buka"
            }}</button>
        </div>
      </CustomCard>
    </div>
  </div>
</template>

<script>
import programApi from "@/api/program";
import moment from "moment";
import { computed, onMounted, ref } from "vue";
import { toRupiah } from "@/util/currency";
import { useStore } from "vuex";
import CustomProgressbar from "@/components/Reusable/CustomProgressbar"
import CustomCard from "@/components/Reusable/CustomCard.vue";
import { useRouter } from "vue-router";
moment.locale("id");
export default {
  name: "HomeAdmin",
  components: { CustomProgressbar, CustomCard },
  setup() {
    const store = useStore()
    const router = useRouter()
    // data
    const programs = ref([])

    // computed
    const rupiah = computed(() => {
      return toRupiah
    })
    const tersisa = computed(() => {
      return (sampai) => {
        return moment(sampai).fromNow(true);
      };
    })

    // methods
    const loadProgarams = async () => {
      try {
        let res = await programApi.getProgram();
        if (res.status == 200) {
          programs.value = res.data.data;
        }
      } catch (err) {
        const e = { ...err }
        if (Object.keys(e).length == 0) {
          console.log(err)
        }
        else if (e.response.status == 401) {
          await store.dispatch("logout")
          router.push("/admin/login")
        }
      }
    }

    const toggleStatus = async (uuid) => {
      try {
        let res = await programApi.toggleStatus(uuid)
        if (res.status == 200) {
          loadProgarams()
        }
      } catch (err) {
        const e = { ...err }
        if (e.response.status == 401) {
          await store.dispatch("logout")
          router.push("/admin/login")
        }
      }

    }

    onMounted(() => loadProgarams())

    return {
      store,
      programs,
      rupiah,
      tersisa,
      loadProgarams,
      toggleStatus,
    }
  },
};
</script>
