<template>
  <div class="box-border h-24"></div>
  <div class="flex justify-center items-center">
    <CustomCard class="w-80">
      <div class="flex flex-col items-center">
        <img src="@/assets/profile-user.png" class="h-24" />
        <div class="text-lg font-bold">Login</div>
      </div>
      <CustomInput label="Username" v-model="loginForm.username" :vuelidate="v$.username" placeholder="Your Username"
        class="mt-3" @keypress.enter="login"></CustomInput>
      <CustomInput label="Password" v-model="loginForm.password" :vuelidate="v$.password" placeholder="Your Password"
        :type="showPass ? 'text' : 'password'" @click:button="showPass = !showPass" class="mt-3"
        @keypress.enter="login">
        <template v-slot:button>
          <img src="@/assets/view.png" class="h-5 w-5" :class="{ hidden: showPass, block: !showPass }" alt />
          <img src="@/assets/hidden.png" class="h-5 w-5" :class="{ hidden: !showPass, block: showPass }" alt />
        </template>
      </CustomInput>
      <div class="mt-5">
        <button class="w-full bg-green-500 py-1 rounded text-white hover:bg-green-600" @click="login">Login</button>
      </div>
    </CustomCard>
  </div>
</template>
<script>
import { computed, reactive, ref } from "vue"
import { useRouter } from "vue-router"
import { useStore } from "vuex"
import admin from "../../api/admin"
import { CustomInput } from "@/components/Reusable/Form"
import CustomCard from "@/components/Reusable/CustomCard"
import { helpers, minLength, required } from "@vuelidate/validators"
import useVuelidate from "@vuelidate/core"
export default {
  name: "LoginAdmin",
  components: {
    CustomInput,
    CustomCard
  },
  setup() {
    const router = useRouter()
    const store = useStore()

    // data
    const loginForm = reactive({
      username: "",
      passsword: "",
    })
    const showPass = ref(false)

    // computed
    const rules = computed(() => {
      return {
        username: [
          helpers.withMessage("Username tidak boleh kosong", required),
          helpers.withMessage("Username minimal 5 karakter", minLength(5)),
        ],
        password: [
          helpers.withMessage("Password tidak boleh kosong", required),
          helpers.withMessage("Password minimal 8 karakter", minLength(8)),
        ],
      }
    })

    // vuelidate
    const v$ = useVuelidate(rules, loginForm)

    // methods
    const login = async () => {
      v$.value.$validate()
      if (!v$.value.$error) {
        try {
          let res = await admin.login(loginForm)
          if (res.status == 200) {
            await store.dispatch("login", res.data.data)
            await store.dispatch("setLoginWith", "local")
            router.push("/admin")
          }
        } catch (err) {
          const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
        }
      }
    }

    return {
      loginForm,
      showPass,
      login,
      v$,
    }

  },
}
</script>