<template>
  <CustomCard>
    <div class="text-xl font-bold">Tambah Artikel</div>
    <CustomInput v-model="article.judul" label="Judul" :vuelidate="v$.judul" class="mt-3"></CustomInput>
    <CustomMultipleCheckbox v-model="article.kategori" label="Kategori" :vuelidate="v$.kategori" class="mt-3"
      :options="kategoriItems">
    </CustomMultipleCheckbox>
    <div class="mt-3">Gambar</div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 border-[1px] rounded border-gray-500 p-3 min-h-[200px]">
      <div class="relative" v-for="(img, index) in article.gambar" :key="index" @mouseover="toggleHover(true, index)"
        @mouseleave="toggleHover(false, index)">
        <img :src="img.url">
        <!-- <div class="absolute bottom-0 left-1" :class="{ 'invisible': !imgState[index].hover }">{{ file.name }}</div> -->
        <button class="absolute top-0 right-1" :class="{ 'invisible': !imgState[index].hover }"
          @click="removeImg(index)">
          x
        </button>
      </div>
    </div>
    <CustomImgPicker v-model="article.added_gambar" label="Tambah Gambar" class="mt-3" multiple></CustomImgPicker>
    <div class="mt-3">Gambar Terhapus</div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 border-[1px] rounded border-gray-500 p-3 min-h-[200px]">
      <div class="relative" v-for="(img, index) in article.deleted_gambar" :key="index"
        @mouseover="deletedState[index].hover = true" @mouseleave="deletedState[index].hover = false">
        <img :src="img.url">
        <!-- <div class="absolute bottom-0 left-1" :class="{ 'invisible': !imgState[index].hover }">{{ file.name }}</div> -->
        <button class="absolute top-0 right-1" :class="{ 'invisible': !deletedState[index].hover }"
          @click="restoreImg(index)">
          x
        </button>
      </div>
    </div>
    <CustomEditor v-model="article.artikel" imgModel label="Artikel" :vuelidate="v$.artikel" class="mt-3">
    </CustomEditor>
    <div class="relative h-14 mt-3">
      <button class="absolute top-6 right-0 bg-green-400 rounded-md px-3 py-1 min-w-[79px]" @click="updateArticle">
        <div class="" :class="{ 'hidden': loading }">Simpan</div>
        <img class="animate-spin h-6 inline-flex justify-center" :class="{ 'hidden': !loading }"
          src="@/assets/loading.png">
      </button>
    </div>
  </CustomCard>
</template>
<script>
import { CustomInput, CustomEditor, CustomMultipleCheckbox } from "@/components/Reusable/Form"
import CustomCard from "@/components/Reusable/CustomCard"
import { useRoute, useRouter } from "vue-router"
import { useStore } from "vuex"
import { computed, onMounted, reactive, ref } from "vue"
import { helpers, required } from "@vuelidate/validators"
import useVuelidate from "@vuelidate/core"
import articleApi from "@/api/article"
import CustomImgPicker from "@/components/Reusable/Form/CustomImgPicker.vue"
export default {
  name: "UpdateArticle",
  components: {
    CustomInput,
    // CustomSelect,
    CustomCard,
    CustomEditor,
    CustomImgPicker,
    CustomMultipleCheckbox
  },
  setup() {
    const router = useRouter()
    const route = useRoute()
    const store = useStore()

    // data
    const loading = ref(false)
    const article = reactive({
      judul: "",
      kategori: [],
      gambar: [],
      added_gambar: [],
      deleted_gambar: [],
      artikel: "",
    })

    const gambar = ref([])
    const imgState = ref([])
    const deletedState = ref([])

    const rules = computed(() => {
      return {
        judul: [
          helpers.withMessage("Judul tidak boleh kosong", required),
        ],
        kategori: [
          helpers.withMessage("Pilih minimal 1 kategori", (val) => val.length > 0),
        ],
        artikel: [helpers.withMessage("Artikel tidak boleh kosong", (a) => {
          return a.replace(/<.\*\?>/g, "").trim().length > 0
          // let r = a.replace(/<p>/g, "")
          // r = r.replace(/<\/p>/g, "")
          // r = r.trim()
          // return r
        })],
      }
    })
    const kategoriItems = ref([
      { label: "Pendidikan", value: "Pendidikan" },
      { label: "Sosial", value: "Sosial" },
      { label: "Laporan", value: "Laporan" },
      { label: "Palestina", value: "Palestina" },
      { label: "Ifthar", value: "Ifthar" },
    ])

    const v$ = useVuelidate(rules, article)

    // methods
    const updateArticle = async () => {
      // try {
      v$.value.$validate()
      if (!v$.value.$error) {
        loading.value = true
        try {
          if (article.added_gambar.length > 0) {
            let files = new FormData()
            article.added_gambar.forEach((file) => {
              // files.append(file.name, file)
              files.append("files", file)
            })
            // files.append("files", gambar.value)
            let res1 = await articleApi.addImages(files)
            if (res1.status == 200) {
              let data = { ...article }
              data.kategori = data.kategori.join(",")
              data.added_gambar = res1.data.data
              let res = await articleApi.update(data, route.params.uuid)
              if (res.status == 200) {
                router.push("/admin/artikel")
              }
            }
          } else {
            let data = { ...article }
            data.kategori = data.kategori.join(",")
            let res = await articleApi.update(data, route.params.uuid)
            if (res.status == 200) {
              router.push("/admin/artikel")
            }
          }

        } catch (err) {
          const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
        } finally {
          loading.value = false
        }
      }
    }

    const loadArticle = async () => {
      try {
        let res = await articleApi.getOne(route.params.uuid)
        if (res.status == 200) {
          article.artikel = res.data.data.artikel
          article.kategori = res.data.data.kategori.split(",")
          article.gambar = res.data.data.gambar
          imgState.value = article.gambar.map(() => { return { hover: false } })
          article.judul = res.data.data.judul
        }
      } catch (err) {
        const e = { ...err }
        if (Object.keys(e).length == 0) {
          console.log(err)
        }
        else if (e.response.status == 401) {
          await store.dispatch("logout")
          router.push("/admin/login")
        }
      }
    }

    const removeImg = (index) => {
      article.deleted_gambar.push(...article.gambar.splice(index, 1))
      deletedState.value.push(...imgState.value.splice(index, 1))
    }

    const restoreImg = (index) => {
      article.gambar.push(...article.deleted_gambar.splice(index, 1))
      imgState.value.push(...deletedState.value.splice(index, 1))
    }

    const toggleHover = (val, idx) => {
      if (imgState.value.length > 0) imgState.value[idx].hover = val
    }

    onMounted(() => loadArticle())

    return {
      updateArticle,
      article,
      kategoriItems,
      v$,
      loading,
      gambar,
      imgState,
      deletedState,
      removeImg,
      restoreImg,
      toggleHover,
    }
  },
}
</script>