<template>
  <CustomCard>
    <div class="text-xl font-bold">Update Program</div>
    <CustomInput v-model="form.nama" label="Nama" :vuelidate="v$.form.nama" class="mt-3"></CustomInput>
    <CustomSelect v-model="form.kategori" label="Kategori" :items="kategoriItems" :vuelidate="v$.form.kategori"
      class="mt-3">
    </CustomSelect>
    <CustomInput v-model="form.target" type="number" label="Target" :vuelidate="v$.form.target" class="mt-3">
    </CustomInput>
    <CustomInput v-model="form.status" label="Status" :vuelidate="v$.form.status" class="mt-3">
    </CustomInput>
    <CustomDatePicker v-model="form.buka_sampai" label="Buka Sampai" :vuelidate="v$.form.buka_sampai" class="mt-3">
    </CustomDatePicker>
    <!-- <CustomFilePicker v-model="img.file" accept=".png, .jpg, .jpeg" :vuelidate="v$.img.file" @change="crop"
      label="Gambar" class="mt-3">
    </CustomFilePicker>
    <div class="flex justify-center">
      <CustomCard class="w-60">
        <img :src="form.image">
      </CustomCard>
    </div>
    <ImageCropper class="mt-3" ref="cropper" :src="img.src"></ImageCropper> -->
    <CustomEditor v-model="form.artikel" label="Rangkuman" :vuelidate="v$.form.artikel" class="mt-3"></CustomEditor>
    <div class="relative h-14 mt-3">
      <button class="absolute top-6 right-0 bg-green-400 rounded-md px-3 py-1 min-w-[79px]" @click="updateProgram">
        <div class="" :class="{ 'hidden': loading }">Simpan</div>
        <img class="animate-spin h-6 inline-flex justify-center" :class="{ 'hidden': !loading }"
          src="@/assets/loading.png">
      </button>
    </div>
  </CustomCard>
</template>
<script>
import { computed, onMounted, reactive, ref, watch } from "vue"
import { useRouter, useRoute } from "vue-router"
import { CustomInput, CustomSelect, CustomDatePicker, CustomEditor } from "@/components/Reusable/Form"
import useVuelidate from '@vuelidate/core'
import { required, minLength, helpers, } from '@vuelidate/validators'
import moment from "moment"
import CustomCard from "@/components/Reusable/CustomCard"
// import CustomFilePicker from "@/components/Reusable/Form/CustomFilePicker"
// import ImageCropper from "@/components/Reusable/ImageCropper"
import programApi from '@/api/program'
// import CustomEditor from "@/components/Reusable/CustomEditor"
import { useStore } from "vuex"

export default {
  name: "UpdateProgram",
  components: {
    CustomInput,
    CustomSelect,
    CustomDatePicker,
    CustomCard,
    // CustomFilePicker,
    // ImageCropper,
    CustomEditor,
  },
  setup() {
    const router = useRouter()
    const route = useRoute()
    const store = useStore()

    // data
    const loading = ref(false)
    const form = reactive({
      nama: "",
      kategori: "",
      target: "",
      buka_sampai: "",
      // image: "",
      artikel: "",
      status: "",
    })

    const img = reactive({
      file: null,
      src: ""
    })
    const cropper = ref()
    // const progressGambar = ref(0)

    const artikel = ref("")

    watch(() => img.file, (val) => {
      // console.log(!val)
      if (!val) img.src = ""
      // console.log(img.src)
    })

    const loadProgram = async () => {
      try {
        let res = await programApi.getbyUuid(route.params.uuid)
        if (res.status == 200) {
          form.nama = res.data.data.nama
          form.kategori = res.data.data.kategori
          form.target = res.data.data.target.toString()
          form.status = res.data.data.status
          form.buka_sampai = res.data.data.buka_sampai
          // form.image = res.data.data.image
          form.artikel = res.data.data.artikel
          console.log(form)
        }
      } catch (err) {
        const e = { ...err }
        if (Object.keys(e).length == 0) {
          console.log(err)
        }
        else if (e.response.status == 401) {
          await store.dispatch("logout")
          router.push("/admin/login")
        }
      }
    }

    onMounted(() => loadProgram())

    const rules = computed(() => {
      return {
        form: {
          nama:
            [
              helpers.withMessage("Nama tidak boleh kosong", required),
              helpers.withMessage("Nama minimal 5 karakter", minLength(5))
            ]
          ,
          kategori: [helpers.withMessage("Kategori tidak boleh kosong", required)],
          target: [helpers.withMessage("Target tidak boleh kosong", required)],
          buka_sampai: [helpers.withMessage("Buka sampai tidak boleh kosong", required)],
          status: [helpers.withMessage("Status tidak boleh kosong", required)],
          artikel: [helpers.withMessage("Rangkuman tidak boleh kosong", (val) => {
            console.log(val)
            let res = !(val == "" || val == "<p></p>")
            console.log(res)
            return res
          })]
        },
        // img: {
        //   file: [
        //     helpers.withMessage("Gambar tidak boleh kosong", required),
        //     helpers.withMessage("Gambar maksimal 2MB", (f) => f.size < 1024 * 1024 * 2),
        //     helpers.withMessage("Ekstensi tidak diizinkan", (f) => {
        //       let splt = f.name.split(".")
        //       return ["png", "jpg", "jpeg"].includes(splt[splt.length - 1])
        //     }),
        //   ]
        // }
      }
    })
    const kategoriItems = ref([
      { text: "Pendidikan", value: "Pendidikan" },
      { text: "Sosial", value: "Sosial" },
    ])

    // const v$ = useVuelidate(rules, { form, img })
    const v$ = useVuelidate(rules, { form })

    // methods
    const updateProgram = async () => {
      console.log(form.artikel)
      // try {
      v$.value.$validate()
      console.log(v$.value.$errors)
      if (!v$.value.$error) {
        loading.value = true
        try {
          let data = { ...form }
          data.target = parseInt(data.target)
          data.buka_sampai = moment(data.buka_sampai).format("YYYY-MM-DD")
          let res = await programApi.updateProgram(data, route.params.uuid)
          if (res.status == 200) {
            router.push("/admin")
          }
        } catch (err) {
          const e = { ...err }
          if (Object.keys(e).length == 0) {
            console.log(err)
          }
          else if (e.response.status == 401) {
            await store.dispatch("logout")
            router.push("/admin/login")
          }
        } finally {
          loading.value = false
        }
      }
    }

    const crop = () => {
      if (img.file) {
        let reader = new FileReader();
        reader.readAsDataURL(img.file);
        reader.onload = (event) => {
          img.src = event.target.result;
        };
      } else {
        img.src = null;
      }
    }

    const formatter = (date) => {
      let res = moment(date).format("YYYY-MM-DD")
      console.log(res)
      return res
    }

    return {
      updateProgram,
      form,
      kategoriItems,
      v$,
      formatter,
      img,
      crop,
      cropper,
      loading,
      artikel,
    }
  },
}
</script>