<template>
  <div>
    <label>{{ label }}</label>
    <Datepicker :modelValue="modelValue" :format="formatter" :enableTimePicker="false" @update:modelValue="controller"
      @blur="!!vuelidate && vuelidate.$validate">
      <template v-slot:dp-input="{ value }">
        <div class="mr-[18px]">
          <input :value="value" type="text" @input="controller" @blur="!!vuelidate && vuelidate.$validate" readonly
            :placeholder="placeholder"
            class="border-[1px] border-gray-500 focus:border-green-600 focus:outline-none rounded w-full px-2 py-1"
            :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error }" />
        </div>
      </template>
      <template #input-icon>

      </template>
    </Datepicker>
    <div v-if="!!vuelidate && vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
import moment from "moment"

export default {
  name: "CustomDatePicker",
  components: {
    Datepicker,
  },
  props: {
    label: {
      type: String,
      default: "Label",
    },
    modelValue: String,
    placeholder: {
      type: String,
      default: "",
    },
    vuelidate: Object,
  },
  // emits: ["update:modelValue"],
  setup(props, ctx) {
    const formatter = (date) => {
      let res = moment(date).format("YYYY-MM-DD")
      return res
    }

    const controller = (val) => {
      if (props.vuelidate) props.vuelidate.$validate()
      ctx.emit("update:modelValue", val?.toString())
    }

    return {
      formatter,
      controller,
    }
  },
}
</script>