<template>
  <div>
    <label>{{ label }}</label>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 border-[1px] border-gray-500 rounded p-3"
      :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error }">
      <CustomCheckbox v-for="(ops, index) in options" :key="index" :trueValue="ops.value" :label="ops.label" :checked="modelValue.includes(ops.value)"
        @checked="check(ops.value, $event)"></CustomCheckbox>
    </div>
    <div v-if="!!vuelidate && vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>
import { watch } from "vue"
import { CustomCheckbox } from "."
export default {
  name: "CustomMultipleCheckbox",
  props: {
    modelValue: {
      type: Array,
      default: () => [],
    },
    label: String,
    options: Array,
    vuelidate: Object,
  },
  components: {
    CustomCheckbox,
  },
  setup(props, { emit }) {

    const check = (val, checked) => {
      let updateVal = [...props.modelValue]
      if (checked) updateVal.push(val)
      else updateVal.splice(updateVal.indexOf(val), 1)
      emit("update:modelValue", updateVal)
    }

    watch(() => props.modelValue, (val) => console.log(val))

    return {
      check
    }
  },
}
</script>