<template>
  <div>
    <label>{{ label }}</label>
    <div>
      <CustomRadio
        v-for="(ops, index) in options"
        :key="index"
        :value="ops.value"
        :label="ops.label"
        :selected="ops.value == modelValue"
        @click="$emit('update:modelValue', ops.value)"
      ></CustomRadio>
    </div>
  </div>
</template>
<script>
import { watch } from "vue"
import { CustomRadio } from "."
export default {
  name: "CustomRadioGroup",
  props: {
    modelValue: {
      type: String,
      default: ""
    },
    label: String,
    options: Array,
  },
  components: {
    CustomRadio,
  },
  // emits: ["update:modelValue"],
  setup(props, { emit }) {

    watch(() => props.modelValue, (val) => emit("update:modelValue", val))
  },
}
</script>