<template>
  <div class="">
    <label>{{ label }}</label>
    <input ref="filePicker" type="file" :accept="accept" @change="change" class="hidden" />
    <div class="flex">
      <input :value="filename" :placeholder="placeholder" readonly @click="filePicker.click()"
        class="border-[1px] border-gray-500 focus:border-green-600 focus:outline-none rounded w-full px-2 py-1"
        :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error }" />
    </div>
    <div v-if="!!vuelidate && vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>

import { ref, watch } from "vue"

export default {
  name: "CustomMultipleFilePicker",
  props: {
    label: {
      type: String,
      default: "Label",
    },
    modelValue: Object,
    placeholder: {
      type: String,
      default: "",
    },
    accept: String,
    vuelidate: Object,
  },
  emits: ["update:modelValue"],
  setup(props, { emit }) {
    const filename = ref("")

    const filePicker = ref()

    watch(() => props.modelValue, (val) => {
      if (val) filename.value = val.name
      else filename.value = ""
    })

    const change = (event) => {
      let val
      if (props.vuelidate) props.vuelidate.$validate()
      if (event.target.files.length) { 
        val = filename.value = event.target.files[0]
        filename.value = val.name 
        }
      emit("update:modelValue", val)
    }

    return {
      filename,
      change,
      filePicker,
    }
  },
}
</script>