<template>
  <div>
    <label>{{ label }}</label>
    <div class="relative">
      <input :value="selected.value" @focus="open = !open" @blur="open = !open"
        class="border-[1px] border-gray-500 focus:border-green-600 focus:outline-none rounded w-full px-2 py-1"
        :class="{ 'border-red-600 focus:border-red-600': vuelidate.$error }" />
      <div class="bg-white transition-all duration-300 shadow-md mt-2 rounded absolute top-full w-full"
        :class="{ 'invisible opacity-0 -translate-y-2': !open }">
        <div class="p-2 hover:bg-gray-100 hover:rounded" v-for="(item, index) in items" :key="index"
          @click="select(item)">{{ item.text }}</div>
      </div>
    </div>
    <div v-if="vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>import { ref, watch } from "vue"

export default {
  name: "CustomSelect",
  props: {
    label: {
      type: String,
      default: "Label",
    },
    modelValue: String,
    items: Array,
    vuelidate: Object,
  },
  // emits: ["update:modelValue"],
  setup(props, ctx) {
    const controller = (val) => {
      props.vuelidate.$validate()
      ctx.emit("input:modelValue", val.target.value)
    }

    const open = ref(false)

    // onMounted(() => {
    watch(() => props.modelValue, (val) => {
      let t = props.items.filter(i => {
        return i.value == val
      })
      if (t.length > 0) select(t[0])
    })

    const selected = ref({
      text: "",
      value: "",
    })

    const select = (value) => {
      ctx.emit("update:modelValue", value.value)
      selected.value = value
      props.vuelidate.$validate()
      open.value = false
    }

    return {
      controller,
      open,
      selected,
      select
    }
  }
}
</script>