<template>
  <div v-if="editor">
    <label :class="{ 'text-red-600': !!vuelidate && vuelidate.$error }">{{ label }}</label>
    <div class="border-[1px] border-gray-500 rounded p-3"
      :class="{ 'border-red-600': !!vuelidate && vuelidate.$error }">
      <div class="flex mb-2 gap-1">
        <div class="border-[1px] rounded bg-gray-300">
          <div class="text-center bg-gray-700 rounded-t text-white">Style</div>
          <div class="p-1 flex items-center justify-center font-serif">
            <button @click="editor.chain().focus().toggleBold().run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-bold h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('bold') }">B</button>
            <button @click="editor.chain().focus().toggleItalic().run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded italic h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('italic') }">I</button>
            <button @click="editor.chain().focus().toggleUnderline().run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded underline h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('underline') }">U</button>
            <button @click="editor.chain().focus().toggleStrike().run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded text-sm line-through h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('strike') }">abc</button>
          </div>
        </div>
        <div class="border-[1px] rounded bg-gray-300">
          <div class="text-center bg-gray-700 rounded-t text-white">Heading</div>
          <div class="p-1 flex items-center justify-center">
            <button @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 1 }) }">H1</button>
            <button @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 2 }) }">H2</button>
            <button @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 3 }) }">H3</button>
            <button @click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 4 }) }">H4</button>
            <button @click="editor.chain().focus().toggleHeading({ level: 5 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 5 }) }">H5</button>
            <button @click="editor.chain().focus().toggleHeading({ level: 6 }).run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded font-sans text-sm h-7 w-7"
              :class="{ 'bg-slate-400': editor.isActive('heading', { level: 6 }) }">H6</button>
          </div>
        </div>
        <div class="border-[1px] rounded bg-gray-300">
          <div class="text-center bg-gray-700 rounded-t text-white">Align</div>
          <div class="p-1 flex items-center justify-center">
            <button @click="editor.chain().focus().setTextAlign('left').run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded h-7 w-7 inline-flex items-center justify-center"
              :class="{ 'bg-slate-400': editor.isActive({ textAlign: 'left' }) }">
              <img class="h-5 w-5 opacity-100" src="@/assets/align-left.png">
            </button>
            <button @click="editor.chain().focus().setTextAlign('center').run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded h-7 w-7 inline-flex items-center justify-center"
              :class="{ 'bg-slate-400': editor.isActive({ textAlign: 'center' }) }">
              <img class="h-5 w-5 opacity-100" src="@/assets/align-center.png">
            </button>
            <button @click="editor.chain().focus().setTextAlign('right').run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded h-7 w-7 inline-flex items-center justify-center"
              :class="{ 'bg-slate-400': editor.isActive({ textAlign: 'right' }) }">
              <img class="h-5 w-5 opacity-100" src="@/assets/align-right.png">
            </button>
            <button @click="editor.chain().focus().setTextAlign('justify').run()"
              class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded h-7 w-7 inline-flex items-center justify-center"
              :class="{ 'bg-slate-400': editor.isActive({ textAlign: 'justify' }) }">
              <img class="h-4 w-4 opacity-[0.65]" src="@/assets/justify-text.png">
            </button>
          </div>
        </div>
        <!-- <button @click="editor.chain().focus().toggleBlockquote().run()"
          class="bg-gray-50 border-[1px] border-gray-600 mx-px rounded h-7 w-7 inline-flex items-center justify-center"
          :class="{ 'bg-slate-400': editor.isActive('blockqoute') }">
          <img class="h-5 w-5 opacity-100" src="@/assets/quotation-marks.png">
        </button> -->
      </div>
      <EditorContent class="bg-gray-100 rounded min-h-[100px] p-1" @click="editor.chain().focus()" :editor="editor" />
    </div>
    <div v-if="!!vuelidate && vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>
import { useEditor, EditorContent } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import Underline from '@tiptap/extension-underline'
import TextAlign from '@tiptap/extension-text-align'
import { watch } from 'vue'

export default {
  name: "CustomEditor",
  props: {
    modelValue: String,
    label: {
      type: String,
      default: "Label"
    },
    vuelidate: Object,
  },
  // emits: ["update:modelValue"],
  components: {
    EditorContent,
  },
  setup(props, { emit }) {

    const editor = useEditor({
      content: props.modelValue,
      onUpdate: () => {
        // HTML
        emit('update:modelValue', editor.value.getHTML())

        // JSON
        // this.$emit('update:modelValue', this.editor.getJSON())
      },
      extensions: [
        StarterKit,
        Underline,
        TextAlign.configure({
          types: ['heading', 'paragraph'],
        }),
      ],
      editorProps: {
        attributes: {
          class: "prose prose-sm sm:prose lg:prose-lg xl:prose-2xl m-1 focus:outline-none"
        }
      }
    })

    watch(() => props.modelValue, (value) => {
      // HTML
      const isSame = editor.value.getHTML() === value

      // JSON
      // const isSame = JSON.stringify(this.editor.getJSON()) === JSON.stringify(value)

      if (isSame) {
        return
      }

      editor.value.commands.setContent(value, false)
      console.log("A")
      if (props.vuelidate) props.vuelidate.$validate()
      // emit("update:modelValue", val.target.value)
    })

    return {
      editor,
    }
  },
}
</script>