<template>
  <div class="">
    <label>{{ label }}</label>
    <input ref="filePicker" type="file" :accept="accept" @change="change" class="hidden" :multiple="multiple" />
    <div
      class="rounded border-[1px] border-gray-500 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-3 gap-3 min-h-[200px]"
      :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error }">
      <div class="relative" v-for="(file, index) in files" :key="index" @mouseover="filesState[index].hover = true"
        @mouseleave="filesState[index].hover = false">
        <img :src="toUrl(file)">
        <div class="absolute bottom-0 left-1" :class="{ 'invisible': !filesState[index].hover }">{{ file.name }}</div>
        <button class="absolute top-0 right-1" :class="{ 'invisible': !filesState[index].hover }"
          @click="removeImg(index)">
          x
        </button>
      </div>
      <button
        class="rounded h-full w-full border-[1px] border-gray-400 inline-flex items-center justify-center text-7xl"
        :class="{ 'hidden': !multiple && files.length == 1 }" @click="filePicker.click()">
        +
      </button>
    </div>
    <!-- <div class="flex">
      <input :value="filename" :placeholder="placeholder" readonly @click="filePicker.click()"
        class="border-[1px] border-gray-500 focus:border-green-600 focus:outline-none rounded w-full px-2 py-1"
        :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error }" />
    </div> -->
    <div v-if="!!vuelidate && vuelidate.$error" class="text-red-600 text-sm">{{ vuelidate.$errors[0].$message }}
    </div>
  </div>
</template>
<script>

import { ref, watch } from "vue"

export default {
  name: "CustomImgPicker",
  props: {
    label: {
      type: String,
      default: "Label",
    },
    modelValue: Object,
    placeholder: {
      type: String,
      default: "",
    },
    accept: String,
    multiple: Boolean,
    vuelidate: Object,
  },
  emits: ["update:modelValue"],
  setup(props, { emit }) {
    const filename = ref("")

    const filePicker = ref()

    const files = ref([])
    const filesState = ref([])

    // filePicker.value = document.createElement("INPUT");
    // filePicker.value.setAttribute("type", "file");
    // filePicker.value.setAttribute("multiple", true);

    watch(() => props.modelValue, (val) => {
      if (val) filename.value = val.name
      else filename.value = ""
    })

    const toUrl = (file) => {
      return URL.createObjectURL(file)
    }

    const removeImg = (index) => {
      files.value.splice(index, 1)
      filesState.value.splice(index, 1)
      if (props.multiple) emit("update:modelValue", files.value)
      else emit("update:modelValue", files.value[0])
      console.log(files.value)
    }

    const change = (event) => {
      // let val
      if (props.vuelidate) props.vuelidate.$validate()
      if (event.target.files.length) {
        [...event.target.files].forEach(file => {
          files.value.push(file)
          filesState.value.push({
            hover: false
          })
        });
        // files.value = event.target.files
        // let newVal = files.value.concat(event.target.files)
        // files.value = newVal
        // files.value.splice(files.value.length, 0, event.target.files)
      }
      if (props.multiple) emit("update:modelValue", files.value)
      else emit("update:modelValue", files.value[0])
      // emit("update:modelValue", val)
    }

    // console.log(filePicker.value)

    return {
      change,
      filePicker,
      toUrl,
      files,
      filesState,
      removeImg,
    }
  },
}
</script>