<template>
  <div>
    <label :class="{ 'text-red-600': !!vuelidate && vuelidate.$error }">{{ label }}</label>
    <div class="flex">
      <input
        :type="type"
        :value="modelValue"
        @input="controller"
        @blur="controller"
        :placeholder="placeholder"
        class="border-[1px] border-gray-500 focus:border-green-600 focus:outline-none rounded-l flex-1 px-2 py-1"
        :class="{ 'border-red-600 focus:border-red-600': !!vuelidate && vuelidate.$error, 'rounded-r': !$slots.button }"
      />
      <div v-if="!!$slots.button">
        <button
          class="p-[7px] border-y-[1px] border-r-[1px] border-gray-500 rounded-r"
          @click="$emit('click:button', null)"
        >
          <slot name="button"></slot>
        </button>
      </div>
    </div>

    <div
      v-if="!!vuelidate && vuelidate.$error"
      class="text-red-600 text-sm"
    >{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>

export default {
  name: "CustomInput",
  props: {
    label: {
      type: String,
      default: "Label",
    },
    modelValue: String || Number,
    placeholder: {
      type: String,
      default: "",
    },
    type: String,
    vuelidate: Object,
  },
  // emits: ["update:modelValue"],
  setup(props, { emit }) {

    const controller = (val) => {
      if (props.vuelidate) props.vuelidate.$validate()
      emit("update:modelValue", val.target.value)
    }

    return {
      controller,
    }
  },
}
</script>