<template>
  <div>
    <label class="inline-flex items-center">
      <input type="checkbox" :checked="checked" @input="controller"  class="mr-1" />
      {{ label }}
    </label>
    <div
      v-if="!!vuelidate && vuelidate.$error"
      class="text-red-600 text-sm"
    >{{ vuelidate.$errors[0].$message }}</div>
  </div>
</template>
<script>
export default {
  name: "CustomCheckbox",
  props: {
    label: String,
    modelValue: [Boolean, String],
    trueValue: {
      type: [Boolean, String],
      default: true,
    },
    falseValue: {
      type: [Boolean, String],
      default: false
    },
    checked: Boolean,
    vuelidate: Object,
  },
  setup(props, { emit }) {
    

    const controller = (val) => {
      if (props.vuelidate) props.vuelidate.$validate()
      emit("update:modelValue", val.target.checked ? props.trueValue : props.falseValue)
      emit("checked", val.target.checked)
    }

    return {
      controller,
    }
  },
}
</script>