<template>
  <div>
    <label class="inline-flex items-center">
      <input
        type="radio"
        :checked="selected"
        :value="value"
        class="mr-1"
      />
      {{ label }}
    </label>
  </div>
</template>
<script>
// import { computed, ref } from "vue"
export default {
  name: "CustomRadio",
  props: {
    label: String,
    value: String,
    selected: Boolean,
  },
  setup() {
    // const isChecked = computed(() => props.modelValue == props.value)

    // const checked = ref(false)

    // // watch(() => props.modelValue, (val) => emit("update:modelValue", val))

    // const select = (val) => {
    //   if (val == props.value)
    // }

    // return {
    //   isChecked,
    // }
  },
}
</script>