<template>
  <footer class="mt-auto bg-green-400 font-bold h-12 w-full text-center pt-3">
    Footer
  </footer>
</template>
<script>
export default {
  name: "PublicFooter",
  setup() {

  },
}
</script>