<template>
  <div class="relative">
    <!-- <slot name="controller" :open="open" :close="close"></slot> -->
    <button @click="open" @blur="close">
      <slot name="button"></slot>
    </button>
    <div class="absolute transition-all duration-300 bg-white rounded-lg shadow-md top-full mt-2 right-0"
      :class="{ 'invisible opacity-0 -translate-y-2': !show}">
      <slot></slot>
    </div>
  </div>
</template>
<script>
import { ref } from "vue"

export default {
  name: "CustomDropdown",
  setup() {

    const show = ref(false)

    const open = () => {
      show.value = !show.value
    }

    const close = () => {
      show.value = false
    }

    return {
      open,
      close,
      show
    }
  },
}
</script>